In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
datadir = Path.cwd().parent/ "C:/Users/skhadka3/OneDrive - University of Vermont/Documents/Data Science-I/Assignment 1"

In [3]:
df_businesses = pd.read_csv(datadir / 'businesses.csv')
df_businesses

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number
0,19,NRGIZE LIFESTYLE CAFE,"1200 VAN NESS AVE, 3RD FLOOR",San Francisco,CA,94109,37.786848,-122.421547,+14157763262
1,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",San Francisco,CA,94104,37.792888,-122.403135,+14156779494
2,31,NORMAN'S ICE CREAM AND FREEZES,2801 LEAVENWORTH ST,San Francisco,CA,94133,37.807155,-122.419004,NaN
3,45,CHARLIE'S DELI CAFE,3202 FOLSOM ST,San Francisco,CA,94110,37.747114,-122.413641,+14156415051
4,48,ART'S CAFE,747 IRVING ST,San Francisco,CA,94122,37.764013,-122.465749,+14156657440
...,...,...,...,...,...,...,...,...,...
6401,94544,D'MAIZE CAFE,50 PHELAN AVE,San Francisco,CA,94112,NaN,NaN,+14154240604
6402,94555,EASY BREEZY FROZEN YOGURT,44 WEST PORTAL AVE,San Francisco,CA,94127,NaN,NaN,+14155053351
6403,94571,THE PHOENIX PASTIFICIO,200 CLEMENT ST,San Francisco,CA,94118,NaN,NaN,+14154726100
6404,94572,BROADWAY DIM SUM CAFE,684 BROADWAY ST,San Francisco,CA,94133,NaN,NaN,NaN
6405,94574,BINKA BITES,2241 GEARY BLVD,San Francisco,CA,94115,NaN,NaN,+14157712907

In [4]:
#How many records (rows, excluding column headers) [0.5pt] and columns (excluding unnamed index columns) [0.5pt] are there for: businesses.csv 
df_businesses.shape

(6406, 9)

In [5]:
#How many duplicated records are there in each file?
df_businesses.duplicated(keep=False).sum()

0

In [6]:
#business=pd.read_csv("C:/Users/skhadka3/OneDrive - University of Vermont/Documents/Data Science-I/Assignment 1/businesses.csv")
#business

In [7]:
df_inspections=pd.read_csv(datadir/'inspections.csv')
df_inspections

       business_id  score      date     type
0               19     94  20160513  routine
1               19     94  20171211  routine
2               24     98  20171101  routine
3               24     98  20161005  routine
4               24     96  20160311  routine
...            ...    ...       ...      ...
14217        94012     90  20180112  routine
14218        94133    100  20171227  routine
14219        94142    100  20171220  routine
14220        94189     96  20171130  routine
14221        94231     85  20171214  routine

[14222 rows x 4 columns]

In [8]:
#How many records (rows, excluding column headers) [0.5pt] and columns (excluding unnamed index columns) [0.5pt] are there for: inspections.csv 
df_inspections.shape

(14222, 4)

In [9]:
#How many duplicated records are there in each file?
df_inspections.duplicated(keep=False).sum()

2

In [10]:
df_violations=pd.read_csv(datadir/'violations.csv')
df_violations

,business_id,date,description
0,19,20171211,Inadequate food safety knowledge or lack of ce...
1,19,20171211,Unapproved or unmaintained equipment or utensils
2,19,20160513,Unapproved or unmaintained equipment or utensi...
3,19,20160513,Unclean or degraded floors walls or ceilings ...
4,19,20160513,Food safety certificate or food handler card n...
...,...,...,...
39037,94189,20171130,Insufficient hot water or running water
39038,94231,20171214,Unclean nonfood contact surfaces [ date viola...
39039,94231,20171214,High risk vermin infestation [ date violation...
39040,94231,20171214,Moderate risk food holding temperature [ dat...
39041,94231,20171214,Wiping cloths not clean or properly stored or ...

In [11]:
#How many records (rows, excluding column headers) [0.5pt] and columns (excluding unnamed index columns) [0.5pt] are there for: violations.csv 
df_violations.shape
#df_violations.nunique()

(39042, 3)

In [12]:
#How many duplicated records are there in each file?
df_violations.duplicated(keep=False).sum()

26

In [13]:
#Each business_id in this dataset corresponds to a “restaurant” for all intents and purposes. How many restaurants are in:businesses.csv

df_businesses['business_id'].nunique()

6406

In [14]:
#Each business_id in this dataset corresponds to a “restaurant” for all intents and purposes. How many restaurants are in:inspections.csv
df_inspections['business_id'].nunique()

5766

In [15]:
#Each business_id in this dataset corresponds to a “restaurant” for all intents and purposes. How many restaurants are in:violations.csv
df_violations['business_id'].nunique()

5317

In [16]:
#What are the top 5 restaurant names (values under the column name) with the most records in the file businesses.csv, and how many records does each one have? Present your result as a table. 
df_businesses['name'].value_counts().head()

STARBUCKS COFFEE       73
PEET'S COFFEE & TEA    25
MCDONALDS              13
LEE'S DELI             10
JAMBA JUICE            10
Name: name, dtype: int64

In [17]:
#What are the top 5 addresses (values in the address column) that host the largest number of restaurants, and how many restaurants does each one host? 
df_businesses['address'].value_counts().head()

24 WILLIE MAYS PLAZA      124
 OFF THE GRID              79
428 11TH ST                37
2948 FOLSOM ST             25
3251 20TH AVE              22
Name: address, dtype: int64

In [18]:
####And how many restaurants does each one host? 
#df_businesses[['address','name']].value_counts().head()

In [19]:
#How many cities are included in the dataset? 
df_businesses['city'].nunique()

1

In [20]:
#How many restaurants are in postal code 94115? 
len(df_businesses[df_businesses['postal_code']=='94115'])
#df_businesses[df_businesses['postal_code']=='94115'].nunique()#reset_index()

243

In [21]:
#How many restaurants lack latitude and longitude information? 
df_businesses[['latitude','longitude']].isna().sum()

latitude     3136
longitude    3136
dtype: int64

In [22]:
#How many restaurants lack latitude or longitude information? 
missing_lat_long=df_businesses[(df_businesses['latitude'].isna()) | (df_businesses['longitude'].isna())]
missing_lat_long

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number
178,821,LA SANTANECA,3781 MISSION ST,San Francisco,CA,94110,NaN,NaN,+14156481034
187,852,NEW HOLLYWOOD BAKERY & RESTAURANT,652 PACIFIC AVE,San Francisco,CA,94133,NaN,NaN,+14153979919
697,2934,LOU'S FISH SHACK,300 JEFFERSON ST,San Francisco,CA,94133,NaN,NaN,+14157715687
1004,4323,DIVA'S,1081 POST ST,San Francisco,CA,94109,NaN,NaN,+14154743482
1235,5281,EVA'S CATERING,PIER 45,San Francisco,CA,94122,NaN,NaN,+14158281026
...,...,...,...,...,...,...,...,...,...
6401,94544,D'MAIZE CAFE,50 PHELAN AVE,San Francisco,CA,94112,NaN,NaN,+14154240604
6402,94555,EASY BREEZY FROZEN YOGURT,44 WEST PORTAL AVE,San Francisco,CA,94127,NaN,NaN,+14155053351
6403,94571,THE PHOENIX PASTIFICIO,200 CLEMENT ST,San Francisco,CA,94118,NaN,NaN,+14154726100
6404,94572,BROADWAY DIM SUM CAFE,684 BROADWAY ST,San Francisco,CA,94133,NaN,NaN,NaN
6405,94574,BINKA BITES,2241 GEARY BLVD,San Francisco,CA,94115,NaN,NaN,+14157712907

In [23]:
#Do all of the records in the violations data have a description of the violation? 
df_violations['description'].isna().sum()

0

In [24]:
#How many restaurants are in the business information file and have inspection data? 
df_merge = df_businesses.merge(df_inspections, on ='business_id', how='inner')
df_merge['business_id'].nunique()

5766

In [25]:
#How many restaurants have reported violations but whose names are unknown?
#df_merge_left_indicator = df_violations.merge(df_businesses, on='business_id', how='left', indicator=True)
#df_merge_left_indicator[df_merge_left_indicator['_merge'] == 'left_only']

df_merge_left_indicator=df_violations.merge(df_businesses, on='business_id', how='left', indicator=True)
df_merge_left_indicator['name'].isna().sum()
#OR df_merge_left_indicator
#df_merge_left_indicator['_merge'].value_counts()

0

In [26]:
#How many restaurants have reported violations but have no inspection data? 
df_merge_left_indicator=df_violations.merge(df_inspections, on='business_id', how='left', indicator=True)
df_merge_left_indicator
df_merge_left_indicator['_merge'].value_counts()

both          113276
left_only         18
right_only         0
Name: _merge, dtype: int64

In [27]:
#For every restaurant with inspection data, generate a single table where each restaurant is represented by a row, and where 
#(a) the number of times it had an inspection [1pt] 
#and(b) its highest inspection score [1pt] are included as columns. 
#What value does it give for restaurants with IDs: 5634 and 2420? 
import pandas as pd
df_merge_outer=pd.merge(df_businesses,df_inspections, on='business_id', how='outer')
df_merge_outer
df_new_inspections=df_merge_outer.groupby('business_id').agg(num_inspections=('business_id','size'),
                                                             highest_score=('score','max')).reset_index()#.size().reset_index(name='num_inspections')
df_new_inspections
#df_merge.groupby('business_id').agg{name': (lambda x :x.nunique())})
#inspections_num=df_violations['business_id'].value_counts().reset_index()
#inspections_num.columns['business_id', 'inspections_num']
#restaurant_summary = df_inspections.groupby('business_id').size().reset_index(name='num_inspections')
#restaurant_summary

      business_id  num_inspections  highest_score
0              19                2           94.0
1              24                3           98.0
2              31                1           98.0
3              45                4           88.0
4              48                1           94.0
...           ...              ...            ...
6401        94544                1            NaN
6402        94555                1            NaN
6403        94571                1            NaN
6404        94572                1            NaN
6405        94574                1            NaN

[6406 rows x 3 columns]

In [28]:
df_new_inspections[df_new_inspections['business_id'].isin([5634,2420])]
#.isin() is a convenient way to filter rows based on multiple possible values in a column. It's commonly used for data filtering and selection tasks in pandas.

      business_id  num_inspections  highest_score
564          2420                6           96.0
1349         5634                8          100.0

In [29]:
# Create a copy of the dataframe from inspections.csv but add a column rating that maps the inspection score to the rating given inlegend.csv.
df_inspections_copy=df_inspections.copy()
def rating(score):
    if 100 >= score >=91:
        return 'Good'
    elif 90 >= score >=86:
        return 'Adequate'
    elif 85 >= score >=71:
        return 'Needs Improvement'
    else:
        return 'Poor'
    
df_inspections_copy['Rating'] = df_inspections_copy['score'].map(rating)
df_inspections_copy[df_inspections_copy['score'] == 90] # to check :

       business_id  score      date     type    Rating
13              56     90  20160802  routine  Adequate
26              67     90  20150520  routine  Adequate
56             101     90  20170627  routine  Adequate
64             121     90  20170418  routine  Adequate
65             125     90  20170719  routine  Adequate
...            ...    ...       ...      ...       ...
14159        92767     90  20180112  routine  Adequate
14160        92780     90  20171102  routine  Adequate
14162        92812     90  20171004  routine  Adequate
14195        93361     90  20171219  routine  Adequate
14217        94012     90  20180112  routine  Adequate

[982 rows x 5 columns]

In [30]:
# How many unique inspection records (rows) resulted in a rating of “Adequate”? [1pt]
#df_inspections_copy[df_inspections_copy['Rating']=='Adequate']#.nunique()
#adequate=df_inspections_copy[(df_inspections_copy)['Rating']=='Adequate']
#unique_adequate=adequate['business_id'].nunique()
#unique_adequate
#df_inspections_copy.duplicated().sum()
len(df_inspections_copy[(df_inspections_copy)['Rating']=='Adequate'])

2880

In [31]:
# How many unique inspection records resulted in a rating of “Good” or “Poor”? [1pt]
len(df_inspections_copy[(df_inspections_copy['Rating']=='Good')|(df_inspections_copy['Rating']=='Poor')])#.nunique()

8578

In [32]:
#Generate a table where each row corresponds to a restaurant ID, the columns are the ratings “Poor”, “Needs Improvement”, “Adequate” and“Good”, 
#and the values are the number of inspection records corresponding to each restaurant-rating combination.

new_table=pd.pivot_table(df_inspections_copy, index = 'business_id', columns='Rating',aggfunc='size', fill_value=0).reset_index()
new_table_columns = ['business_id','Poor', 'Needs Improvement', 'Adequate', 'Good']
new_table = new_table[new_table_columns]
new_table
#column_order = ['Poor', 'Needs Improvement', 'Adequate', 'Good']
#pivot_ratings = pivot_ratings[column_order]

Rating  business_id  Poor  Needs Improvement  Adequate  Good
0                19     0                  0         0     2
1                24     0                  0         0     3
2                31     0                  0         0     1
3                45     0                  3         1     0
4                48     0                  0         0     1
...             ...   ...                ...       ...   ...
5761          94012     0                  0         1     1
5762          94133     0                  0         0     1
5763          94142     0                  0         0     1
5764          94189     0                  0         0     1
5765          94231     0                  1         0     0

[5766 rows x 5 columns]

In [33]:
#ratings_table = df_inspections_copy.groupby('business_id').agg({'Poor': lambda x: (x=='Poor').sum(), 'Needs Improvement': lambda x: (x == 'Needs Improvement').sum(), 'Adequate': lambda x: (x == 'Adequate').sum(), 'Good': lambda x: (x == 'Good').sum(), fill_value=0)})

In [34]:
# Output this data as a CSV file and upload it. There should be a header row but no line numbers. [1pt]
new_table.to_csv('Assignment-1-Khadka-data.csv', index=False)

In [35]:
# How many restaurants never received a rating below “Adequate”? [1pt]
len(new_table[(new_table['Poor'] == 0) & (new_table['Needs Improvement'] == 0)])

#new_table.loc[54]

3800